body {
  position: fixed;
  box-sizing: border-box;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  min-height: 100%;
  margin: 0;
  padding: 10%;
  line-height: 1.5em;
  background-color: rgb(249, 224, 179);
  background-image: linear-gradient(rgb(209, 176, 176), rgb(133, 133, 77));
  color: #fff;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

#buttons {
  position: absolute;
  top: 50%;
  left: 50%;
}

div.button {
  position: absolute;
  width: 15vh;
  height: 15vh;
  margin-top: -7.5vh; 
  margin-left: -7.5vh; 
  opacity: 0.25;
}

div.button[data-index="0"] {
  top: 16vh;
  left: 29vw;
  background-color: rgb(54, 169, 54);
  border-radius: 50%;
}

div.button[data-index="1"] {
  top: -16vh;
  left: 20vw;
  background-color: rgb(190, 52, 52);
  border-radius: 50%;
}

div.button[data-index="2"] {
  top: 33vh;
  left: -20vw;
  background-color: rgb(204, 204, 88);
  border-radius: 50%;
}

div.button[data-index="3"] {
  top: -23vh;
  left: -5vw;
  background-color: rgb(239, 176, 59);
  border-radius: 50%;
}

div.button[data-index="4"] {
  top: -33vh;
  left: -25vw;
  background-color: rgb(110, 220, 243);
  border-radius: 50%;
}

div.button[data-index="5"] {
  top: 8vh;
  left: 12vw;
  background-color: rgb(231, 84, 167);
  border-radius: 50%;
}

div.button[data-index="6"] {
  top: -13vh;
  left: -35vw;
  background-color: rgb(117, 88, 204);
  border-radius: 50%;
}

div.button[data-index="7"] {
  top: -14vh;
  left: 32vw;
  background-color: rgb(66, 64, 57);
  border-radius: 50%;
}

div.button[data-index="8"] {
  top: -25vh;
  left: 8vw;
  background-color: rgb(71, 49, 88);
  border-radius: 50%;
}

div.button[data-index="9"] {
  top: -28vh;
  left: -16vw;
  background-color: rgb(171, 194, 121);
  border-radius: 50%;
}

div.button[data-index="10"] {
  top: 35vh;
  left: 14vw;
  background-color: rgb(127, 207, 178);
  border-radius: 50%;
}

div.button[data-index="11"] {
  top: -10vh;
  left: -20vw;
  background-color: rgb(102, 241, 102);
  border-radius: 50%;
}

div.button[data-index="12"] {
  top: 33vh;
  left: -5vw;
  background-color: rgb(116, 55, 55);
  border-radius: 50%;
}

div.button[data-index="13"] {
  top: 12vh;
  left: -15vw;
  background-color: rgb(142, 142, 89);
  border-radius: 50%;
}

div.button[data-index="14"] {
  top: 10vh;
  left: -30vw;
  background-color: rgb(122, 90, 30);
  border-radius: 50%;
}

div.button[data-index="15"] {
  top: 33vh;
  left: -32vw;
  background-color: rgb(26, 112, 129);
  border-radius: 50%;
}

div.button[data-index="16"] {
  top: -5vh;
  left: -9vw;
  background-color: rgb(79, 28, 57);
  border-radius: 50%;
}

div.button[data-index="17"] {
  top: 20vh;
  left: 2vw;
  background-color: rgb(74, 104, 32);
  border-radius: 50%;
}

div.button[data-index="18"] {
  top: 0vh;
  left: 0vw;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
}

div.button.active {
  opacity: 1;
}

/* div.post[data-index="20"] {
top: 200px;
left: -200px;
} */

#controls{
  position: absolute;
  top: 10vh;
  right: 0vw;
  z-index:2;
  color:rgb(7, 7, 7);
  font-family: "Bahnschrift", Bold, sans-serif;
  font-size: 20px;
}

.slider {
  -webkit-appearance: none;
  cursor: pointer;
  width: 50%;
  height: 0.5vh;
  background: rgb(47, 42, 42);
  outline: none;
  border-radius: 5vh;
  
}

input[type=range]::-webkit-slider-thumb {
  height: 2vh;
  width: 2.5vw;
  border-radius: 0.4vw;
  background: #5d5c5c;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.2vh;
}